In [1]:
import nltk
import numpy as np
import pandas as pd
from nltk.corpus import stopwords
import spacy
import re
import string
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

In [2]:
df= pd.read_excel('speaker_seperation.xlsx')

In [3]:
df.head()

,video_title,speaker_label,line,start_time,end_time,length,num_words,time
0,3MCEOAddressingSoftnessinChinaAutosandElectron...,jim,Got a ton of earnings reports last week. But s...,24.20,57.48,714,135,33.28
1,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,Thank you,57.48,58.20,9,2,0.72
2,3MCEOAddressingSoftnessinChinaAutosandElectron...,jim,"most people when they don't deliver a quarter,...",58.20,77.81,416,78,19.61
3,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,"jim first of all, Thank you for having me toda...",77.81,115.89,685,126,38.08
4,3MCEOAddressingSoftnessinChinaAutosandElectron...,jim,So give me a sense because you said you didn't...,115.89,128.15,263,52,12.26

In [4]:
df= df.loc[df['speaker_label'] == 'ceo']

In [5]:
df.head()

,video_title,speaker_label,line,start_time,end_time,length,num_words,time
1,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,Thank you,57.48,58.20,9,2,0.72
3,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,"jim first of all, Thank you for having me toda...",77.81,115.89,685,126,38.08
5,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,"struggles and this is, this is a playbook, we ...",128.15,149.86,422,87,21.71
7,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,Part of our defensive position has been our ab...,164.34,199.01,593,110,34.67
9,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,The 3M model is strong and what we're doing in...,220.15,249.76,493,84,29.61

In [6]:
df.reset_index(inplace=True)

In [7]:
df.head()

,index,video_title,speaker_label,line,start_time,end_time,length,num_words,time
0,1,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,Thank you,57.48,58.20,9,2,0.72
1,3,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,"jim first of all, Thank you for having me toda...",77.81,115.89,685,126,38.08
2,5,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,"struggles and this is, this is a playbook, we ...",128.15,149.86,422,87,21.71
3,7,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,Part of our defensive position has been our ab...,164.34,199.01,593,110,34.67
4,9,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,The 3M model is strong and what we're doing in...,220.15,249.76,493,84,29.61

#### Data Cleaning: Level 1

In [9]:
nlp = spacy.load('en_core_web_sm')

def clean_string(text, stem="None"):

    final_string = ""

    # Make lower
    text = text.lower()

    # Remove line breaks
    text = re.sub(r'\n', '', text)

    # Remove puncuation
    translator = str.maketrans('', '', string.punctuation)
    text = text.translate(translator)

    # Remove stop words
    text = text.split()
    #useless_words = nltk.corpus.stopwords.words("english")
    #useless_words = useless_words + ['hi', 'im', 'um', 'hm', 'hey', 'uh', 'oh', 'okay']

    text_filtered = [word for word in text]

    # Remove numbers
    text_filtered = [re.sub(r'\w*\d\w*', '', w) for w in text_filtered]

    # Stem or Lemmatize
    #if stem == 'Stem':
        #stemmer = PorterStemmer() 
        #text_stemmed = [stemmer.stem(y) for y in text_filtered]
    #elif stem == 'Lem':
        #lem = WordNetLemmatizer()
        #text_stemmed = [lem.lemmatize(y) for y in text_filtered]
    #elif stem == 'Spacy':
        #text_filtered = nlp(' '.join(text_filtered))
        #text_stemmed = [y.lemma_ for y in text_filtered]
    text_stemmed = text_filtered

    final_string = ' '.join(text_stemmed)

    return final_string

In [10]:
df['line'] = df['line'].apply(lambda x: clean_string(x))

In [11]:
df

,index,video_title,speaker_label,line,start_time,end_time,length,num_words,time
0,1,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,thank you,57.48,58.20,9,2,0.72
1,3,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,jim first of all thank you for having me today...,77.81,115.89,685,126,38.08
2,5,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,struggles and this is this is a playbook we kn...,128.15,149.86,422,87,21.71
3,7,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,part of our defensive position has been our ab...,164.34,199.01,593,110,34.67
4,9,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,the model is strong and what were doing in ou...,220.15,249.76,493,84,29.61
...,...,...,...,...,...,...,...,...,...
8917,17994,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,well i mean our aspiration is to be a billion ...,250.84,284.52,655,123,33.68
8918,17996,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,well are the role that e commerce and our stor...,287.74,305.19,341,59,17.45
8919,17998,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,elf oh yeah sure ill show you a great example ...,317.12,342.75,481,93,25.63
8920,18000,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,so good head to head is you know prior to that...,346.32,374.71,536,109,28.39
8921,18002,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,face there you go,395.06,396.01,19,4,0.95

In [13]:
df.drop('index', axis=1)

,video_title,speaker_label,line,start_time,end_time,length,num_words,time
0,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,thank you,57.48,58.20,9,2,0.72
1,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,jim first of all thank you for having me today...,77.81,115.89,685,126,38.08
2,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,struggles and this is this is a playbook we kn...,128.15,149.86,422,87,21.71
3,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,part of our defensive position has been our ab...,164.34,199.01,593,110,34.67
4,3MCEOAddressingSoftnessinChinaAutosandElectron...,ceo,the model is strong and what were doing in ou...,220.15,249.76,493,84,29.61
...,...,...,...,...,...,...,...,...
8917,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,well i mean our aspiration is to be a billion ...,250.84,284.52,655,123,33.68
8918,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,well are the role that e commerce and our stor...,287.74,305.19,341,59,17.45
8919,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,elf oh yeah sure ill show you a great example ...,317.12,342.75,481,93,25.63
8920,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,so good head to head is you know prior to that...,346.32,374.71,536,109,28.39
8921,elfBeautyCEOBettingOnBeautyMadMoneyCNBCdV8DhPN...,ceo,face there you go,395.06,396.01,19,4,0.95

### Data Cleaning: Level 2

#### Noun Chunking and POS Filters (Key word extractor: not now)

In [14]:
df.to_csv('Ceo_SemiClean_Doc.csv')